*{
	margin:0;padding:0;
}
.wrap{
	width:100%;
	min-width: 1510px;
	height:849px;
	background-color:rgba(10,90,50,0.5);
	position: absolute;
	left:0;
	top:0;

}
video{
	width:100%;
	min-width: 1510px;
	height:849px;
}